body {
    position: relative;
    width: 100%;
    display: block;
}

body>* {
    margin: auto;
    margin-top: 20px;
    width: 700px;
    display: block;
    overflow: auto;
}

body>p {
    line-height: 22px
}

body>script {
    display: none
}